[user]
  name = Piotr Zajac
  mail = ptr.zjc@gmail.com

[push]
  autoSetupRemote = true

# below is delta config

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = trueF
    # side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pull]
	rebase = true
